@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}


.iconMenu {
  text-align: center;
  display: grid;
}

.iconMenu h1{
  margin: auto 0;
}

tr.ant-table-row {
  cursor: pointer;
}